.atur{
	font-size: 30px; 
}

.kiri{
	width: 20%;
	background-color: red;
	float: left;
	border-radius: 5px;
}

.mid{
	width: 75%;
	background-color: gray;
	float: left;
}

.kanan{
	width: 5%;
	background-color: yellow;
	float: left;
}

.logo{
	width: 70px;
	height: 70px;
	margin-left: 20px;
}

.jumbtron{
	
}

.custom{
	width: 1020px;
	margin-left: 170px;
	background-color: #c5c8cc;
	margin-top: 50px;
	border-radius: 7px;
}

.text-gallery{
	margin-top: 100px;
	width: 100%;
	height: 70px;
	position: relative;
	background-color: #e3e5e8;
}

.text-album{
	width: 100%;
	margin-top: 5px;
}

.text-album p{
	text-align: center;
	font-size: 40px;
	color: black;
}

.container-custom{
	width: 100%;
	background-color: #e3e5e8;
	position: relative;
	height: 1400px;
}

.gallery li{
	width: 420px;
	height: 420px;
	background-color: white;
	margin-top: 30px;
	margin-left: 20px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.5);
	float: left;
	position: relative;
	/*overflow: hidden;*/
}

.image{
	width: 400px;
	height: 400px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.gallery li span{
	display: block;
	width: 400px;
	height: 400px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: rgba(200,200,200,.5);
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 400px;
	color: black;
	font-size: 50px;
	opacity: 0;
	transition: .4s;
}

.gallery li a:hover span{
	opacity: 4;
}

/*Bagian Ditekan*/
.ditekan{
	position: fixed;
	width: 0;
	height: 0;
	overflow:hidden;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 99999;
	transition: .8s;
	text-align: center;
	line-height: 100%;	
}

.ditekan img{
	max-height: 100%;
	max-width: 100%;
	text-align: center;	
	line-height: 100%;
}

.ditekan:target{
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.8);
	text-align: center;	
	line-height: 100%;
}
/*End Bagian Ditekan*/

/*Bagian Footer*/
footer{
	background: #00d1b2;
	width: 100%;
	position: relative;
	height: 50px;
}

footer p{
	text-align: center;
	line-height: 50px;
	color: white;
}
/*End Bagian Footer*/

/*Bagian Slider*/
.slidercontainer { 
	margin-left: 10px;
	position: relative; 
	overflow: hidden;  
}

.slidercontainer { 
	width: 1000px;
	height: 500px; 
}

.css3slider img { 
	width: 1000px;
	height: 500px; 
	float: left;
}

.css3slider { 
	position: absolute; 
	width:4900px;  
	-webkit-animation-name:slider;
	-webkit-animation-duration:15s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:15s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:15s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count:infinite;
	animation-name:slider;
	animation-duration:15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}

@-webkit-keyframes slider {     
	0% { left: 0; opacity: 0; }     
	2% { opacity: 1; }     
	20% { left: 0; opacity: 1; }     
	21% { opacity: 0; }     
	24% { opacity: 0; }     
	25% { left: -1000px; opacity: 1; }       
	45% { left: -1000px; opacity: 1; }     
	46% { opacity: 0; }     
	48% { opacity: 0; }     
	50% { left: -2000px; opacity: 1; }     
	70% { left: -2000px; opacity: 1; }     
	72% { opacity: 0; }     
	74% { opacity: 0; }    
	75% { left: -3000px; opacity: 1; }   	
	95% { left: -3000px; opacity: 1; }   	
	97%  { left: -3000px; opacity: 0;}   	
	100% { left: 0; opacity: 0; }
} 

@-moz-keyframes slider {     
	0% { left: 0; opacity: 0; }     
	2% { opacity: 1; }     
	20% { left: 0; opacity: 1; }     
	21% { opacity: 0; }     
	24% { opacity: 0; }     
	25% { left: -1000px; opacity: 1; }       
	45% { left: -1000px; opacity: 1; }     
	46% { opacity: 0; }     
	48% { opacity: 0; }     
	50% { left: -2000px; opacity: 1; }     
	70% { left: -2000px; opacity: 1; }     
	72% { opacity: 0; }     
	74% { opacity: 0; }    
	75% { left: -3000px; opacity: 1; }   	
	95% { left: -3000px; opacity: 1; }   	
	97%  { left: -3000px; opacity: 0;}   	
	100% { left: 0; opacity: 0; }
} 

@-o-keyframes slider {     
	0% { left: 0; opacity: 0; }     
	2% { opacity: 1; }     
	20% { left: 0; opacity: 1; }     
	21% { opacity: 0; }     
	24% { opacity: 0; }     
	25% { left: -1000px; opacity: 1; }     
	45% { left: -1000px; opacity: 1; }     
	46% { opacity: 0; }     
	48% { opacity: 0; }     
	50% { left: -2000px; opacity: 1; }     
	70% { left: -2000px; opacity: 1; }     
	72% { opacity: 0; }     
	74% { opacity: 0; }    
	75% { left: -3000px; opacity: 1; }   	
	95% { left: -3000px; opacity: 1; }   	
	97%  { left: -3000px; opacity: 0; }   	
	100% { left: 0; opacity: 0; }
} 

@keyframes slider {     
	0% { left: 0; opacity: 0; }     
	2% { opacity: 1; }     
	20% { left: 0; opacity: 1; }     
	21% { opacity: 0; }     
	24% { opacity: 0; }     
	25% { left: -1000px; opacity: 1; }     
	45% { left: -1000px; opacity: 1; }     
	46% { opacity: 0; }     
	48% { opacity: 0; }     
	50% { left: -2000px; opacity: 1; }     
	70% { left: -2000px; opacity: 1; }     
	72% { opacity: 0; }     
	74% { opacity: 0; }    
	75% { left: -3000px; opacity: 1; }   	
	95% { left: -3000px; opacity: 1; }   	
	97%  { left: -3000px; opacity: 0; }   	
	100% { left: 0; opacity: 0; }
}

.css3slider:hover { 
	-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; }
}

.css3slider img { 
	float: right; 
}

.slidercontainer:after { 
	content: "❚❚"; 
	font-size: 150px; 
	position: absolute; 
	z-index: 12; 
	color: rgba(255,255,255, 0); 
	left: 420px; top: 120px; 
	-webkit-transition: 1s all ease-in-out; 
	-ms-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	-o-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}
.slidercontainer:hover:after { 
      color: rgba(255,255,255, 0.6);  
}
/*End Slider*/

